{% extends 'connectify/app.html' %}
{% load static %}
{% load my_filters %}

{% block title %}Add Article | Blog {% endblock title %}

{% block styles %}
<!-- Stylesheets -->
<!-- Page JS Plugins CSS -->
<link rel="stylesheet" href="{% static 'assets/js/plugins/simplemde/simplemde.min.css' %}">
{% endblock styles %}

{% block content %}
<!-- Main Container -->
<main id="main-container">

    <!-- Page Content -->
    <div class="content content-boxed">

        <!-- Create New Article Alert -->
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <strong>Heads up!</strong> You are currently creating a new article post.
            <a class="alert-link" href="javascript:void(0)">Save your progress</a> or give it a click if you need a
            break.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <!-- END Create New Article Alert -->

        <!-- New Article Post -->
        <div class="block block-rounded">
            <div class="block-header block-header-default">
                <!-- back button -->
                <a class="btn btn-sm btn-alt-secondary" href="{% url 'blog' %}">
                    <i class="fa fa-fw fa-arrow-left text-danger"></i> Back
                </a>
                <h3 class="block-title text-center">New Article</h3>
            </div>
            <div class="block-content">
                <form method="POST" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <div class="row push">
                        <div class="row mb-5">
                            <label class="col-sm-2 col-form-label" for="{{ form.title.auto_id }}">{{ form.title.label }}:</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="fa fa-blog"></i>
                                    </span>
                                    <div class="form-floating">
                                        {{ form.title }}
                                        <label for="{{ form.title.auto_id }}">{{ form.title.label }}</label>
                                    </div>
                                    <div class="input-group-text">
                                        <i class="fa fa-question-circle"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <label class="col-sm-2 col-form-label" for="{{ form.description.auto_id }}">{{ form.description.label }}:</label>
                            <div class="col-sm-10">
                                {{ form.description }}
                            </div>
                        </div>
                        <div class="row mb-5">
                            <label class="col-sm-2 col-form-label" for="{{ form.thumbnail.auto_id }}">{{ form.thumbnail.label }}:</label>
                            <div class="col-sm-10">
                                {{ form.thumbnail }}
                            </div>
                        </div>
                        <div class="row mb-5">
                            <label class="col-sm-2 col-form-label" for="{{ form.status.auto_id }}">{{ form.status.label }}:</label>
                            <div class="col-sm-10">
                                {{ form.status }}
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-sm-12">{{ form.content }}</div>
                        </div>
                        <!-- Button for cancel on left & save on right -->
                        <div class="row mb-5">
                            <div class="d-flex flex-column flex-sm-row justify-content-sm-between">
                                <a class="btn btn-sm btn-alt-secondary" href="{% url 'blog' %}">
                                    <i class="fa fa-times"></i> Cancel
                                </a>
                                <button type="submit" class="btn btn-sm btn-alt-success">
                                    <i class="fa fa-check"></i> Save
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END User Profile -->

    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->
{% endblock content %}

{% block scripts %}
<!-- Page JS Plugins -->
<script src="{% static 'assets/js/plugins/ckeditor/ckeditor.js' %}"></script>
<script src="{% static 'assets/js/plugins/simplemde/simplemde.min.js' %}"></script>

<!-- Page JS Helpers (CKEditor + SimpleMDE plugins) -->
<script>One.helpersOnLoad(['js-ckeditor', 'js-simplemde']);</script>
{% endblock scripts %}



<div class="row mb-4">
    <label class="col-sm-2 col-form-label" for="post-thumbnail">Choose a thumbnail:</label>
    <div class="col-sm-10">
        <input class="form-control" type="file" id="post-thumbnail" name="post-thumbnail">
    </div>
</div>
<div class="row mb-4">
    <!-- SimpleMDE Container -->
    <textarea class="js-simplemde" id="simplemde" name="simplemde">Write Your Content Here!</textarea>
</div>