{% extends 'connectify/app.html' %}
{% load static %}
{% load my_filters %}

{% block title %}Blog{% endblock title %}

{% block styles %}
<!-- Stylesheets -->
<!-- Page JS Plugins CSS -->
<link rel="stylesheet" href="{% static 'assets/js/plugins/highlightjs/styles/atom-one-dark.css' %}">

<!-- Stylesheets -->
<!-- Page JS Plugins CSS -->
<link rel="stylesheet" href="{% static 'assets/js/plugins/slick-carousel/slick.css' %}">
<link rel="stylesheet" href="{% static 'assets/js/plugins/slick-carousel/slick-theme.css' %}">
{% endblock styles %}

{% block content %}
<!-- Main Container -->
<main id="main-container">
    <!-- Hero Content -->
    <div class="bg-image" style="background-image: url({{post.thumbnail.url}})">
        <div class="bg-primary-dark-op">
            <!-- Adding Back button -->
            <div class="content">
                <a class="btn btn-sm btn-alt-secondary" href="{% url 'blog' %}">
                    <i class="fa fa-arrow-left me-1 text-danger"></i> Back
                </a>
                <div class="content-full text-center">
                    <h1 class="h2 text-white mb-2">{{ post.title }}</h1>
                    <h2 class="h4 fw-normal text-white-75">
                        {{ post.updated_at|date:"M d, Y" }} &bull; {{ post.get_readtime }} Read
                    </h2>
                    <!-- Description -->
                    <p class="fs-sm text-white-75">
                        {{ post.description }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- END Hero Content -->

    <!-- Navigation -->
    <div class="bg-body-extra-light">
        <div class="content content-boxed py-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-alt">
                    <!-- Getting paths separately -->
                    {% with path=request.path|split_string:'/' %}
                    <li class="breadcrumb-item">
                        <a class="link-fx" href="{% url 'blog' %}">{{ path.1 }}</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="link-fx" href="{% url 'post-detail' post.id %}">
                            {{ post.title}}
                        </a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page">
                        1.1 HTML5 Intro <a class="text-default" href="#">#</a>
                    </li>
                    {% endwith %}
                </ol>
            </nav>
        </div>
    </div>
    <!-- END Navigation -->

    <!-- Page Content -->
    <div class="content content-boxed">
        <div class="row">
            <div class="col-xl-8">
                <!-- Lesson -->
                <!-- Syntax Highlighting functionality is initialized in Helpers.jsHighlightjs() -->
                <!-- For more info and examples you can check out https://highlightjs.org/usage/ -->
                <div class="block block-rounded">
                    <div class="block-header block-header-default">
                        <div>
                            <div class="block-title">
                                <div class="fw-semibold text-dark mx-2 d-inline">
                                    <i class="fa fa-fw fa-eye opacity-50 me-1"></i> {{ post.views }}
                                </div>
                                <!-- Vertical Rule Separator -->
                                <span class="border-start border-2 border-dark mx-2"></span>
                                <!-- End Vertical Rule Separator -->
                                <div class="fw-semibold text-dark mx-2 d-inline">
                                    <i class="fa fa-thumbs-up opacity-50 me-1"></i> {{ post.likes }}
                                </div>
                                <!-- Vertical Rule Separator -->
                                <span class="border-start border-2 border-dark mx-2"></span>
                                <!-- End Vertical Rule Separator -->
                                <div class="fw-semibold text-dark mx-2 d-inline">
                                    <i class="fa fa-comments opacity-50 me-1"></i> 12
                                </div>
                            </div>
                        </div>
                        <div class="block-options">
                            <button type="button" class="btn-block-option">
                                <i class="si si-settings"></i>
                            </button>
                            <button type="button" class="btn-block-option" data-toggle="block-option"
                                data-action="fullscreen_toggle">
                            </button>
                        </div>
                    </div>
                    <div class="block-content">
                        {{ post.content|render_markdown|safe }}
                    </div>
                    <!-- Like, Comment, Bookmark the post, Share on right -->
                    <div class="block-content block-content-full bg-body-light">
                        <div class="d-flex flex-column flex-sm-row justify-content-sm-between">
                            <div>
                                <a class="text-muted fw-semibold text-default mx-2" href="javascript:void(0)"
                                    data-bs-toggle="modal" data-bs-target="#modal-block-vcenter">
                                    <i class="fa fa-thumbs-up opacity-50 me-1"></i> {{ post.likes }}
                                </a>
                                <span class="border-start border-2 border-dark mx-2"></span>
                                <a class="text-muted fw-semibold text-default mx-2" href="#post-reply">
                                    <i class="fa fa-comments opacity-50 me-1"></i> 12
                                </a>
                                <span class="border-start border-2 border-dark mx-2"></span>
                                <a class="text-muted fw-semibold text-default mx-2" href="javascript:void(0)">
                                    <i class="far fa-bookmark opacity-50 me-1"></i>
                                </a>
                            </div>
                            <div class="block-options">
                                <!-- button for Bookmarks Post -->
                                <a class="btn btn-sm btn-alt-primary me-2" href="javascript:void(0)">
                                    <i class="far fa-bookmark me-1"></i> Save
                                </a>

                                <!-- Share Post -->
                                <a class="btn btn-sm btn-alt-primary me-2" href="#foru">
                                    <i class="fa fa-share me-1"></i> Share
                                </a>
                            </div>
                            <!-- Vertically Centered Block Modal -->
                            <div class="modal fade" id="modal-block-vcenter" tabindex="-1" role="dialog"
                                aria-labelledby="modal-block-vcenter" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-popout modal-dialog-scrollable"
                                    role="document">
                                    <div class="modal-content">
                                        <div class="block block-rounded block-transparent mb-0">
                                            <div class="block-header block-header-default">
                                                <h3 class="block-title">{{post.likes }} Likes</h3>
                                                <div class="block-options">
                                                    <button type="button" class="btn-block-option"
                                                        data-bs-dismiss="modal" aria-label="Close">
                                                        <i class="fa fa-fw fa-times"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="block-content fs-sm table-responsive overflow-scroll overflow-y-scroll"
                                                style="max-height: 285px;">
                                                {% if like_users %}
                                                <table class="table table-hover table-vcenter table-sm">
                                                    <tbody>
                                                        {% for user in like_users %}
                                                        <tr>
                                                            <!-- User Profile -->
                                                            <th class="text-center fw-semibold fs-sm" scope="row">
                                                                <a href="{% url 'profile' user.profile.id %}">
                                                                    <img class="rounded-circle me-1"
                                                                        src="{{ user.profile.profile_image.url }}"
                                                                        alt="User Avatar" style="width: 21px;">
                                                                    {{ user.profile.name }}
                                                                </a>
                                                            </th>
                                                            <!-- User Profile Level -->
                                                            <td class="d-none d-sm-table-cell">
                                                                <span
                                                                    class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-success-light text-info">
                                                                    {{ user.profile.level }} 0 Level
                                                                </span>
                                                            </td>
                                                            <!-- User Profile View -->
                                                            <td class="text-center">
                                                                <a class="btn btn-sm btn-alt-secondary"
                                                                    href="{% url 'profile' user.profile.id %}"
                                                                    data-bs-toggle="tooltip" title="View Profile">
                                                                    <i class="fa fa-fw fa-eye"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                                {% else %}
                                                <div class="alert alert-warning text-center">
                                                    <i class="fa fa-exclamation-triangle me-1"></i> No likes yet.
                                                </div>
                                                {% endif %}
                                            </div>
                                            <div class="block-content block-content-full text-end bg-body">
                                                <button type="button" class="btn btn-sm btn-alt-secondary me-1"
                                                    data-bs-dismiss="modal">Close
                                                </button>
                                                {% if request.user.is_authenticated %}
                                                <form method="POST" class="d-inline">
                                                    {% csrf_token %}
                                                    <!-- Like button -->
                                                    {% if like_status %}
                                                    <button type="submit" class="btn btn-sm btn-alt-danger me-1"
                                                        name="like" value="like">
                                                        <i class="fa fa-thumbs-up me-1"></i>Unlike
                                                    </button>
                                                    {% else %}
                                                    <button type="submit" class="btn btn-sm btn-alt-primary me-1"
                                                        name="like" value="like">
                                                        <i class="far fa-thumbs-up me-1"></i>Like
                                                    </button>
                                                    {% endif %}
                                                </form>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END Vertically Centered Block Modal -->
                        </div>
                    </div>
                    <!-- End Like, Comment, Share -->
                </div>
                <!-- END Lesson -->

                <!-- Comments -->
                <div class="block block-rounded">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">Comments</h3>
                        <div class="block-options">
                            <a class="btn-block-option text-default me-2" href="#forum-reply-form">
                                <i class="fa fa-reply me-1"></i> Reply
                            </a>
                        </div>
                    </div>
                    <div class="block-content">
                        <table class="table table-borderless">
                            <tbody>
                                <tr class="bg-body-light">
                                    <td class="d-none d-sm-table-cell"></td>
                                    <td class="fs-sm text-muted">
                                        <a class="fw-semibold" href="be_pages_generic_profile.html">Megan Fuller</a>
                                        on <span class="text-muted">July 1, 2019 16:15</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="d-none d-sm-table-cell text-center" style="width: 140px;">
                                        <p>
                                            <a href="be_pages_generic_profile.html">
                                                <img class="img-avatar" src="assets/media/avatars/avatar3.jpg" alt="">
                                            </a>
                                        </p>
                                        <p class="fs-sm fw-medium">426 Posts<br>Level 3</p>
                                    </td>
                                    <td>
                                        <p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam
                                            bibendum ad feugiat magna
                                            accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis
                                            ante urna molestie
                                            vulputate bibendum tempus ante justo arcu erat accumsan adipiscing
                                            risus, libero condimentum
                                            venenatis sit nisl nisi ultricies sed, fames aliquet consectetur
                                            consequat nostra molestie neque
                                            nullam scelerisque neque commodo turpis quisque etiam egestas vulputate
                                            massa, curabitur tellus
                                            massa venenatis congue dolor enim integer luctus, nisi suscipit gravida
                                            fames quis vulputate nisi
                                            viverra luctus id leo dictum lorem, inceptos nibh orci.</p>
                                        <p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam
                                            bibendum ad feugiat magna
                                            accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis
                                            ante urna molestie
                                            vulputate bibendum tempus ante justo arcu erat accumsan adipiscing
                                            risus, libero condimentum
                                            venenatis sit nisl nisi ultricies sed, fames aliquet consectetur
                                            consequat nostra molestie neque
                                            nullam scelerisque neque commodo turpis quisque etiam egestas vulputate
                                            massa, curabitur tellus
                                            massa venenatis congue dolor enim integer luctus, nisi suscipit gravida
                                            fames quis vulputate nisi
                                            viverra luctus id leo dictum lorem, inceptos nibh orci.</p>
                                        <hr>
                                        <p class="fs-sm text-muted">There is only one way to avoid criticism: do
                                            nothing, say nothing, and
                                            be nothing.</p>
                                    </td>
                                </tr>
                                <tr class="bg-body-light">
                                    <td class="d-none d-sm-table-cell"></td>
                                    <td class="fs-sm text-muted">
                                        <a class="fw-semibold" href="be_pages_generic_profile.html">David Fuller</a>
                                        on <span class="text-muted">July 10, 2019 10:09</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="d-none d-sm-table-cell text-center" style="width: 140px;">
                                        <p>
                                            <a href="be_pages_generic_profile.html">
                                                <img class="img-avatar" src="assets/media/avatars/avatar12.jpg" alt="">
                                            </a>
                                        </p>
                                        <p class="fs-sm fw-medium">484 Posts<br>Level 4</p>
                                    </td>
                                    <td>
                                        <p>Felis ullamcorper curae erat nulla luctus sociosqu phasellus posuere
                                            habitasse sollicitudin,
                                            libero sit potenti leo ultricies etiam blandit id platea augue, erat
                                            habitant fermentum lorem
                                            commodo taciti tristique etiam curabitur suscipit lacinia habitasse amet
                                            mauris eu eget ipsum nec
                                            magna in, adipiscing risus aenean turpis proin duis fringilla praesent
                                            ornare lorem eros malesuada
                                            vitae nullam diam velit potenti consectetur, vehicula accumsan risus
                                            lectus tortor etiam facilisis
                                            tempus sapien tortor, mi vestibulum taciti dapibus viverra ac justo
                                            vivamus erat phasellus turpis
                                            nisi class praesent duis ligula, vel ornare faucibus potenti nibh
                                            turpis, at id semper nunc dui
                                            blandit. Enim et nec habitasse ultricies id tortor curabitur,
                                            consectetur eu inceptos ante conubia
                                            tempor platea odio, sed sem integer lacinia cras non risus euismod
                                            turpis platea erat ultrices
                                            iaculis rutrum taciti, fusce lobortis adipiscing dapibus habitant
                                            sodales gravida pulvinar,
                                            elementum mi tempus ut commodo congue ipsum justo nec dui cursus
                                            scelerisque elementum volutpat
                                            tellus nulla laoreet taciti, nibh suspendisse primis arcu integer
                                            vulputate etiam ligula lobortis
                                            nunc, interdum commodo libero aliquam suscipit phasellus sollicitudin
                                            arcu varius venenatis erat
                                            ornare tempor nullam donec vitae etiam tellus.</p>
                                        <hr>
                                        <p class="fs-sm text-muted">Be yourself; everyone else is already taken.</p>
                                    </td>
                                </tr>
                                <tr class="bg-body-light">
                                    <td class="d-none d-sm-table-cell"></td>
                                    <td class="fs-sm text-muted">
                                        <a class="fw-semibold" href="be_pages_generic_profile.html">Albert Ray</a>
                                        on <span class="text-muted">July 15, 2019 20:17</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="d-none d-sm-table-cell text-center" style="width: 140px;">
                                        <p>
                                            <a href="be_pages_generic_profile.html">
                                                <img class="img-avatar" src="assets/media/avatars/avatar10.jpg" alt="">
                                            </a>
                                        </p>
                                        <p class="fs-sm fw-medium">189 Posts<br>Level 7</p>
                                    </td>
                                    <td>
                                        <p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam
                                            bibendum ad feugiat magna
                                            accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis
                                            ante urna molestie
                                            vulputate bibendum tempus ante justo arcu erat accumsan adipiscing
                                            risus, libero condimentum
                                            venenatis sit nisl nisi ultricies sed, fames aliquet consectetur
                                            consequat nostra molestie neque
                                            nullam scelerisque neque commodo turpis quisque etiam egestas vulputate
                                            massa, curabitur tellus
                                            massa venenatis congue dolor enim integer luctus, nisi suscipit gravida
                                            fames quis vulputate nisi
                                            viverra luctus id leo dictum lorem, inceptos nibh orci.</p>
                                        <p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam
                                            bibendum ad feugiat magna
                                            accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis
                                            ante urna molestie
                                            vulputate bibendum tempus ante justo arcu erat accumsan adipiscing
                                            risus, libero condimentum
                                            venenatis sit nisl nisi ultricies sed, fames aliquet consectetur
                                            consequat nostra molestie neque
                                            nullam scelerisque neque commodo turpis quisque etiam egestas vulputate
                                            massa, curabitur tellus
                                            massa venenatis congue dolor enim integer luctus, nisi suscipit gravida
                                            fames quis vulputate nisi
                                            viverra luctus id leo dictum lorem, inceptos nibh orci.</p>
                                        <p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam
                                            bibendum ad feugiat magna
                                            accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis
                                            ante urna molestie
                                            vulputate bibendum tempus ante justo arcu erat accumsan adipiscing
                                            risus, libero condimentum
                                            venenatis sit nisl nisi ultricies sed, fames aliquet consectetur
                                            consequat nostra molestie neque
                                            nullam scelerisque neque commodo turpis quisque etiam egestas vulputate
                                            massa, curabitur tellus
                                            massa venenatis congue dolor enim integer luctus, nisi suscipit gravida
                                            fames quis vulputate nisi
                                            viverra luctus id leo dictum lorem, inceptos nibh orci.</p>
                                        <hr>
                                        <p class="fs-sm text-muted">Don't cry because it's over, smile because it
                                            happened.</p>
                                    </td>
                                </tr>
                                <tr class="bg-body-light">
                                    <td class="d-none d-sm-table-cell"></td>
                                    <td class="fs-sm text-muted">
                                        <a class="fw-semibold" href="be_pages_generic_profile.html">Judy Ford</a> on
                                        <span class="text-muted">July 20, 2019 20:29</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="d-none d-sm-table-cell text-center" style="width: 140px;">
                                        <p>
                                            <a href="be_pages_generic_profile.html">
                                                <img class="img-avatar" src="assets/media/avatars/avatar6.jpg" alt="">
                                            </a>
                                        </p>
                                        <p class="fs-sm fw-medium">445 Posts<br>Level 6</p>
                                    </td>
                                    <td>
                                        <p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam
                                            bibendum ad feugiat magna
                                            accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis
                                            ante urna molestie
                                            vulputate bibendum tempus ante justo arcu erat accumsan adipiscing
                                            risus, libero condimentum
                                            venenatis sit nisl nisi ultricies sed, fames aliquet consectetur
                                            consequat nostra molestie neque
                                            nullam scelerisque neque commodo turpis quisque etiam egestas vulputate
                                            massa, curabitur tellus
                                            massa venenatis congue dolor enim integer luctus, nisi suscipit gravida
                                            fames quis vulputate nisi
                                            viverra luctus id leo dictum lorem, inceptos nibh orci.</p>
                                        <p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam
                                            bibendum ad feugiat magna
                                            accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis
                                            ante urna molestie
                                            vulputate bibendum tempus ante justo arcu erat accumsan adipiscing
                                            risus, libero condimentum
                                            venenatis sit nisl nisi ultricies sed, fames aliquet consectetur
                                            consequat nostra molestie neque
                                            nullam scelerisque neque commodo turpis quisque etiam egestas vulputate
                                            massa, curabitur tellus
                                            massa venenatis congue dolor enim integer luctus, nisi suscipit gravida
                                            fames quis vulputate nisi
                                            viverra luctus id leo dictum lorem, inceptos nibh orci.</p>
                                        <hr>
                                        <p class="fs-sm text-muted">Strive not to be a success, but rather to be of
                                            value.</p>
                                    </td>
                                </tr>
                                <tr class="table-active">
                                    <td class="d-none d-sm-table-cell"></td>
                                    <td class="fs-sm text-muted">
                                        <a class="fw-semibold" href="be_pages_generic_profile.html">Henry
                                            Harrison</a> Just now
                                    </td>
                                </tr>
                                <tr id="forum-reply-form">
                                    <td class="d-none d-sm-table-cell text-center">
                                        <p>
                                            <a href="be_pages_generic_profile.html">
                                                <img class="img-avatar"
                                                    src="{{ request.user.profile.profile_image.url }}" alt="">
                                            </a>
                                        </p>
                                        <p class="fs-sm fw-medium">493 Posts<br>Level 1</p>
                                    </td>
                                    <td>
                                        <form action="be_pages_forum_discussion.html" method="POST">
                                            <div class="mb-4">
                                                <label class="form-label" for="post-reply">Comment:</label>
                                                <textarea class="form-control form-control-alt" id="post-reply"
                                                    name="post-reply" rows="7" placeholder="Reply.."></textarea>
                                            </div>
                                            <div class="mb-4">
                                                <button type="submit" class="btn btn-alt-primary">
                                                    <i class="fa fa-reply me-1 opacity-50"></i> Reply
                                                </button>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- End Comments -->
            </div>
            <div class="col-xl-4">
                <!-- About Author -->
                <a class="block block-rounded block-link-shadow" href="{% url 'profile' post.author.profile.id %}">
                    <div class="block-header block-header-default text-center">
                        <h3 class="block-title">About Author</h3>
                    </div>
                    <div class="block-content block-content-full text-center">
                        <div class="push">
                            <img class="img-avatar" src="{{ post.author.profile.profile_image.url }}" alt="">
                        </div>
                        <div class="fw-semibold mb-1 link-primary">
                            {{ post.author.profile.name }}
                        </div>
                        <div class="fs-sm text-muted">{{ post.author.profile.bio }}</div>
                    </div>
                </a>
                <!-- END About Author -->

                <!-- Slider with Avatars -->
                <div class="block block-rounded">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">Latest Articles of Author</h3>
                    </div>
                    <div class="block-content">
                        <div class="js-slider text-center" data-autoplay="true" data-dots="true" data-arrows="true">
                            {% for post in author_posts %}
                            <!-- Story -->
                            <div class="block block-rounded">
                                <div class="block-content pb-8 text-end bg-image"
                                    style="background-image: url({{post.thumbnail.url}});">
                                    <span class="badge bg-primary fw-bold p-2 text-uppercase">
                                        Travel
                                    </span>
                                </div>
                                <div class="block-content">
                                    <a class="fw-semibold text-dark" href="javascript:void(0)">
                                        {{ post.title }}
                                    </a>
                                    <p class="fs-sm fw-medium text-muted">
                                        {{ post.author.profile.name }} &middot; {{ post.get_readtime }}
                                    </p>
                                </div>
                                <div class="block-content block-content-full bg-body-light">
                                    <div class="row g-0 fs-sm text-center">
                                        <div class="col-4">
                                            <a class="text-muted fw-semibold" href="javascript:void(0)">
                                                <i class="fa fa-fw fa-eye opacity-50 me-1"></i> {{ post.views }}
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a class="text-muted fw-semibold" href="javascript:void(0)">
                                                <i class="fa fa-fw fa-heart opacity-50 me-1"></i> {{ post.likes }}
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a class="text-muted fw-semibold" href="javascript:void(0)">
                                                <i class="fa fa-fw fa-comments opacity-50 me-1"></i> 12
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END Story -->
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- END Slider with Avatars -->

                <!-- Subscribe -->
                <div class="block block-rounded">
                    <div class="block-content">
                        <a class="btn btn-primary w-100 mb-2" href="javascript:void(0)">Subscribe from $9/month</a>
                        <p class="fs-sm text-center">
                            or <a class="link-effect fw-medium" href="javascript:void(0)">buy this course for $28</a>
                        </p>
                        <a class="btn btn-primary w-100 disabled push" href="javascript:void(0)">
                            <i class="fa fa-download me-1"></i> Download
                        </a>
                    </div>
                </div>
                <!-- END Subscribe -->

            </div>
        </div>
    </div>
    <!-- END Page Content -->

    <!-- Get Started -->
    <div class="bg-body-dark">
        <div class="content content-full text-center py-6">
            <h3 class="h4 mb-4">
                Subscribe today and learn HTML5 in under 3 hours.
            </h3>
            <a class="btn btn-primary px-4 py-2" href="javascript:void(0)">Subscribe from $9/month</a>
        </div>
    </div>
    <!-- END Get Started -->
</main>
<!-- END Main Container -->
{% endblock content %}

{% block scripts %}
<!-- Page JS Plugins -->
<script src="{% static 'assets/js/plugins/highlightjs/highlight.pack.min.js' %}"></script>

<!-- Page JS Helpers (Highlight.js Plugin) -->
<script>One.helpersOnLoad(['js-highlightjs']);</script>

<!-- Page JS Plugins -->
<script src="{% static 'assets/js/plugins/ckeditor5-classic/build/ckeditor.js' %}"></script>

<!-- Page JS Helpers (CKEditor 5 plugins) -->
<script>One.helpersOnLoad(['js-ckeditor5']);</script>

<!-- jQuery (required for Slick Slider plugin) -->
<script src="{% static 'assets/js/lib/jquery.min.js' %}"></script>

<!-- Page JS Plugins -->
<script src="{% static 'assets/js/plugins/slick-carousel/slick.min.js' %}"></script>

<!-- Page JS Helpers (Slick Slider Plugin) -->
<script>One.helpersOnLoad(['jq-slick']);</script>

<!-- Page JS Code -->
<script src="{% static 'assets/js/pages/be_ui_animations.min.js' %}"></script>
{% endblock scripts %}