{% extends 'connectify/app.html' %}
{% load static %}
{% load my_filters %}

{% block title %} Home {% endblock title %}

{% block content %}
<!-- Main Container -->
<main id="main-container">
    <!-- Hero Content -->
    <div class="bg-primary-dark">
        <div class="content content-full overflow-hidden pt-7 pb-6 text-center">
            <h1 class="h2 text-white mb-2">
                The latest Blogs only for you.
            </h1>
            <h2 class="h4 fw-normal text-white-75 mb-0">
                Feel free to explore and read.
            </h2>
        </div>
    </div>
    <!-- END Hero Content -->

    <!-- Page Content -->
    <div class="content">
        <h2 class="content-heading">Your Content <small>Subtitle</small></h2>
        <p>
            ...
        </p>
    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->
{% endblock content %}