<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl">
        <div class="footer-container d-flex align-items-center justify-content-between py-3 flex-md-row flex-column">
            <div class="mb-2 mb-md-0">{{ brand_name}} ©
                <script>
                    document.write(new Date().getFullYear());
                </script>
                , made with <span class="text-danger">❤️</span> by
                <a href="https://github.com/dev-mdirfan/" target="_blank" class="footer-link fw-medium">Md Irfan</a>
            </div>
            <div class="d-flex justify-content-start">
                <div class="dropdown-language dropdown me-2">
                    <!-- Language -->
                    <a class="btn btn-text-secondary rounded-pill btn-icon dropdown-toggle hide-arrow"
                        href="javascript:void(0);" data-bs-toggle="dropdown">
                        <i class="mdi mdi-translate mdi-24px mb-2"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" href="javascript:void(0);" data-language="en">
                                <span class="align-middle">English</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="javascript:void(0);" data-language="fr">
                                <span class="align-middle">French</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="javascript:void(0);" data-language="de">
                                <span class="align-middle">German</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="javascript:void(0);" data-language="pt">
                                <span class="align-middle">Portuguese</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <a href="https://github.com/dev-mdirfan/connectify/blob/master/LICENSE" class="footer-link me-4"
                    target="_blank">License</a>

                <a href="https://github.com/dev-mdirfan/connectify" target="_blank" class="footer-link me-4">Github</a>

                <a href="https://github.com/dev-mdirfan/" target="_blank"
                    class="footer-link d-none d-sm-inline-block">Support</a>
            </div>
        </div>
    </div>
</footer>